# Libraries

In [ ]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
import matplotlib.mlab as mlab
from matplotlib.pyplot import figure, show

# Loading Dataframe

In [ ]:
dataframe = pd.read_csv('train.csv')

# Describe dataframe

In [ ]:
dataframe.describe()

# Dataframe

In [ ]:
dataframe

# Histogram de room

In [ ]:
sn.distplot(dataframe[room])

# Revisando si tiene NaN la columna 'room'

In [ ]:
dataframe['room'].isnull().sum()

# Describe columna 'room'

In [ ]:
dataframe['room'].describe()

# Revisando si tiene NaN la columna 'static/js/control.js'

In [ ]:
dataframe['static/js/control.js'].isnull().sum()

# Describe columna 'static/js/control.js'

In [ ]:
dataframe['static/js/control.js'].describe()

# Revisando si tiene NaN la columna 'static/icon/favicon.png'

In [ ]:
dataframe['static/icon/favicon.png'].isnull().sum()

# Describe columna 'static/icon/favicon.png'

In [ ]:
dataframe['static/icon/favicon.png'].describe()

# Imputando valor a los valores NaN de la columna 'room'

In [ ]:
dataframe['room'].fillna('14.9', inplace=True)

# Describe columna 'price'

In [ ]:
dataframe['price'].describe()

# Remplazando '$' por '' en la columna 'price'

In [ ]:
dataframe['price']=dataframe['price'].str.replace('$','')

# Describe columna 'price'

In [ ]:
dataframe['price'].describe()

# Remplazando ',' por '' en la columna 'price'

In [ ]:
dataframe['price']=dataframe['price'].str.replace(',','')

# Revisando si tiene NaN la columna 'price'

In [ ]:
dataframe['price'].isnull().sum()

# Describe columna 'price'

In [ ]:
dataframe['price'].describe()

# Revisando si tiene NaN la columna 'static/js/control.js'

In [ ]:
dataframe['static/js/control.js'].isnull().sum()

# Describe columna 'static/js/control.js'

In [ ]:
dataframe['static/js/control.js'].describe()

# Revisando si tiene NaN la columna 'static/icon/favicon.png'

In [ ]:
dataframe['static/icon/favicon.png'].isnull().sum()

# Describe columna 'static/icon/favicon.png'

In [ ]:
dataframe['static/icon/favicon.png'].describe()

# Renombar la columna 'price'

In [ ]:
dataframe.rename(columns={'price':'precio'}, inplace=True)

# Revisando si tiene NaN la columna 'room'

In [ ]:
dataframe['room'].isnull().sum()

# Describe columna 'room'

In [ ]:
dataframe['room'].describe()

# Revisando si tiene NaN la columna 'static/js/control.js'

In [ ]:
dataframe['static/js/control.js'].isnull().sum()

# Describe columna 'static/js/control.js'

In [ ]:
dataframe['static/js/control.js'].describe()

# Revisando si tiene NaN la columna 'static/icon/favicon.png'

In [ ]:
dataframe['static/icon/favicon.png'].isnull().sum()

# Describe columna 'static/icon/favicon.png'

In [ ]:
dataframe['static/icon/favicon.png'].describe()

# Renombar la columna 'room'

In [ ]:
dataframe.rename(columns={'room':'habitaciones'}, inplace=True)

# Revisando si tiene NaN la columna 'place'

In [ ]:
dataframe['place'].isnull().sum()

# Describe columna 'place'

In [ ]:
dataframe['place'].describe()

# Revisando si tiene NaN la columna 'static/js/control.js'

In [ ]:
dataframe['static/js/control.js'].isnull().sum()

# Describe columna 'static/js/control.js'

In [ ]:
dataframe['static/js/control.js'].describe()

# Revisando si tiene NaN la columna 'static/icon/favicon.png'

In [ ]:
dataframe['static/icon/favicon.png'].isnull().sum()

# Describe columna 'static/icon/favicon.png'

In [ ]:
dataframe['static/icon/favicon.png'].describe()

# Renombar la columna 'place'

In [ ]:
dataframe.rename(columns={'place':'lugares'}, inplace=True)

# Describe columna 'lugares'

In [ ]:
dataframe['lugares'].describe()

# Remplazando 'center' por '1' en la columna 'lugares'

In [ ]:
dataframe['lugares'].replace({'center':'1'}, inplace=True, regex=True)

# Describe columna 'lugares'

In [ ]:
dataframe['lugares'].describe()

# Remplazando 'near' por '2' en la columna 'lugares'

In [ ]:
dataframe['lugares'].replace({'near':'2'}, inplace=True, regex=True)

# Preparacion del dataframe

In [ ]:
df_x = dataframe[['habitaciones', 'lugares']]
df_y = dataframe['precio']

# Normalizar dataframe

In [ ]:
df_nor_x = (df_x - df_x.mean())/df_x.std()

# x

In [ ]:
df_nor_x

# y

In [ ]:
df_nor_y = (df_y - df_y.mean())/df_y.std()
df_nor_y

# Dataframe de entrenamiento y de prueba

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(df_nor_x,df_nor_y,test_size=0.3,random_state=42)

# Model de regresion lineal

In [ ]:
model = LinearRegression()

# Entrenamiento del model

In [ ]:
model.fit(x_train,y_train)

# Prueba del modelo

In [ ]:
predictions = model.predict(x_test)

# Evaluacion del modelo

# Coefficients

In [ ]:
model.coef_

# Independent term

In [ ]:
model.intercept_

# Mean squared error

In [ ]:
mean_squared_error(y_test, predictions)

# Mean absolute error

In [ ]:
mean_absolute_error(y_test, predictions)

# Variance

In [ ]:
r2_score(y_test, predictions)

# Comparacion de los resultados

In [ ]:
compare = pd.DataFrame({'Actual':y_test, 'Predicted':predictions})

# Valores de prueba

In [ ]:
compare.Actual.head(10)

# Valores predichos

In [ ]:
compare.Predicted.head(10)

# Grafica scatter

In [ ]:
plt.scatter(y_test,predictions)

# Grafica de distribucion

In [ ]:
sn.distplot(y_test - predictions)

# Heatmap nulls

In [ ]:
sn.heatmap(dataframe.isnull())

# Heatmap corr

In [ ]:
correlation = dataframe.corr()
sn.heatmap(correlation,annot=True)

# Describe

In [ ]:
dataframe.describe()

# Correlation

In [ ]:
dataframe.corr()