In [ ]:
#Librerias

In [ ]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sn
from sklearn.metrics import confusion_matrix
import matplotlib.mlab as mlab

In [ ]:
# Creando el Dataframe para trabajar

In [ ]:
dataframe = pd.read_csv('Leads.csv')

In [ ]:
# Revisando si tiene NaN la columna 'TotalVisits'

In [ ]:
dataframe['TotalVisits'].isnull().sum()
dataframe['TotalVisits'].dtypes()
dataframe['TotalVisits'].unique().tolist()

In [ ]:
# Imputando valor a los valores NaN de la columna 'TotalVisits'

In [ ]:
dataframe['TotalVisits'].fillna('3.445237833681204', inplace=True)

In [ ]:
# Revisando si tiene NaN la columna 'Last Activity'

In [ ]:
dataframe['Last Activity'].isnull().sum()
dataframe['Last Activity'].dtypes()
dataframe['Last Activity'].unique().tolist()

In [ ]:
# Imputando valor a los valores NaN de la columna 'Last Activity'

In [ ]:
dataframe['Last Activity'].fillna('Other', inplace=True)

In [ ]:
# Revisando si tiene NaN la columna 'Lead Source'

In [ ]:
dataframe['Lead Source'].isnull().sum()
dataframe['Lead Source'].dtypes()
dataframe['Lead Source'].unique().tolist()

In [ ]:
# Describe 'Lead Origin

In [ ]:
dataframe['Lead Origin'].describe()

In [ ]:
# Describe 'Lead Origin

In [ ]:
dataframe['Lead Origin'].describe()

In [ ]:
# Revisando si tiene NaN la columna 'Lead Origin'

In [ ]:
dataframe['Lead Origin'].isnull().sum()
dataframe['Lead Origin'].dtypes()
dataframe['Lead Origin'].unique().tolist()

In [ ]:
# Revisando 'Lead Origin' para reemplazar valores

In [ ]:
dataframe['Lead Origin'].isnull().sum()
dataframe['Lead Origin'].dtypes()
dataframe['Lead Origin'].unique().tolist()

In [ ]:
# Revisando 'Lead Origin' para reemplazar valores

In [ ]:
dataframe['Lead Origin'].isnull().sum()
dataframe['Lead Origin'].dtypes()
dataframe['Lead Origin'].unique().tolist()

In [ ]:
# Remplazando 'api' por 'API' en la columna 'Lead Origin'

In [ ]:
dataframe['Lead Origin'].replace({'api':'API'}, inplace=True, regex=True)